$background-color: #1a281f;
$light-text: #e1efe6;
$dark-text: #0c1d0f;
$medium-text: #557d5c;
$link-accent: #a2a6a4;
$active-link-accent: #36272f;

$grid-item-pale-orange: #fff8ea;
$grid-item-dusty-rose: #d5b4b4;
$grid-item-brown-red: #9e2a2b;
$grid-item-cool-brown: #594545;
$grid-item-greyish-teal: #577D86;

$dark-badge: #030705;
$light-badge: #f2f9f2;

$button-color: #27362c;
$button-effect: #36272f;