$logo-font: 'Great Vibes', cursive;
$logo-size: 2.5rem;

$main-font: 'Montserrat', sans-serif;
$accent-font: 'Cinzel', serif;;

$nav-link-size: 1rem;
$nav-link-small-size: 0.8rem;

$fav-icon-size: 1.5rem;
$fav-icon-small-size: 1rem;

$h2-size: 2em;
$h2-size-large: 2.3em;
$h3-size: 1.3rem;
$p-size: 1.2rem;


$h4-size: 0.9rem;


