@use '../variables/_fonts';

@mixin button {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-family: fonts.$main-font;
    font-size: fonts.$p-size;
    height: 4rem;
    border-radius: 20px;
    margin: 0 auto;
}